body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Позволяет странице прокручиваться */
}


.stars {
    position: fixed; /* Возвращаем fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #72611c, black);
    z-index: -1;
}

.star {
    position: absolute;
    background: white;
    width: 1px; /* Уменьшен размер звёзд */
    height: 1px; /* Уменьшен размер звёзд */
    animation: twinkle 10s infinite ease-in-out;
}

.quiz-container {
    max-width: 600px;
    margin: 200px auto 0; /* Сдвигаем контейнер на 200px вниз */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}


.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#answers-modal ul {
    list-style: none;
    padding: 0;
}

#answers-modal ul li {
    margin-bottom: 10px;
}

.correct-answer {
    color: green;
}

.wrong-answer {
    color: red;
}


@keyframes twinkle {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Стили для нижнего бара */
#contactBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #343a40;
    z-index: 2;
    display: none;
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in 2s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}


#myNavbar a.navbar-brand,
#myNavbar .navbar-nav .nav-link {
    background-image: linear-gradient(45deg, #d9be80, #FF8E33);
    -webkit-background-clip: text; /* For Webkit browsers */
    background-clip: text;
    color: transparent;
}

#myNavbar .navbar-brand img {
    margin-right: 20px; /* Adjust the margin to control the space between the image and text */
}


.gold-gradient {
    background: linear-gradient(#FFD700, #D4AF37, transparent);
    -webkit-background-clip: text;
    color: transparent;
    padding: 20px;
    border-radius: 15px;
    width: 100%; /* Ширина текста теперь 100% от контейнера */
    max-width: 1200px; /* Максимальная ширина ограничена для крупных экранов */
    margin: 0 auto; /* Автоматические отступы для центрирования */
    position: relative; /* Изменено позиционирование на относительное */
    font-family: 'Georgia', sans-serif;
    font-size: calc(1vw + 1vh + .5vmin); /* Адаптивный размер шрифта */
    text-align: center; /* Выравнивание текста по центру */
    top: 250px;

    /* Media queries for responsiveness */
    @media (max-width: 1200px) {
        width: 80%; /* Уменьшение ширины текстового блока для средних экранов */
    }

    @media (max-width: 768px) {
        width: 90%; /* Уменьшение ширины текстового блока для малых экранов */
        font-size: 4vw; /* Уменьшение размера шрифта для малых экранов */
    }

    @media (max-width: 480px) {
        width: 95%; /* Увеличение ширины текстового блока для очень малых экранов */
        font-size: 5vw; /* Увеличение размера шрифта для очень малых экранов */
    }
}


.nav-item {
    margin-right: 20px; /* Расстояние между вкладками */
}

.nav-link {
    color: #cca53a; /* Цвет текста вкладок */
    font-size: 18px; /* Размер текста вкладок */
}

.nav-link:hover {
    color: #ffa500; /* Цвет текста вкладки при наведении */
}